/.idea
/cache
/resources\[Vehicles]
resources/\[Vehicles\]/assets_vehicles
resources/\[Vehicles\]/np-vehicleaudio
resources/\[Vehicles\]/np-vehicleconfig
resources/\[Vehicles\]/temp_vh
resources/\[Assets\]/
resources/\[Assets\]/
resources/\[Assets\]/
resources/\[Clothes\]/
/db
